.leaflet-routing-alternatives-container {
    width: 62%;
    height: 284px;
    /* margin-top: -212px; */
    background: whitesmoke;
    overflow: scroll;
    padding: 30px;
}
.leaflet-touch .leaflet-bar {
    border: none;
}