$primary-color: #FFD724;
$background-color: #ffffff;



.receipt-card {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;

  .receipt-heading {
    margin-bottom: 1.5rem;
    color: #333;
  }

  .receipt-summary {
    margin-bottom: 1.5rem;
    text-align: left;

    .receipt-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    .receipt-item {
      display: flex;
      flex-direction: column;
          margin-left: 50px;
      .receipt-label {
        font-size: 0.9rem;
        color: #777;
        margin-bottom: 0.25rem;

        svg {
          margin-right: 0.5rem;
        }
      }

      .receipt-value {
        font-weight: bold;
      }
    }
  }

  .feedback-form {
    margin-top: 1.5rem;

    h3 {
      margin-bottom: 1rem;
    }

    .star-rating {
      margin-bottom: 1rem;

      span {
        font-size: 2rem;
        color: #ccc;
        cursor: pointer;

        &.active {
          color: $primary-color;
        }
      }
    }

    .input {
      width: 100%;
      padding: 0.75rem;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
    }

    .button {
      width: 100%;
      padding: 0.75rem;
      background-color: $primary-color;
      color: #000;
      border: none;
      border-radius: 0.5rem;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .thank-you-message {
    margin-top: 1.5rem;
    font-weight: bold;
  }
}
